{% extends "base.html" %}

{% block title %}Quiz AI{% endblock %}

{% block header %}Quiz AI{% endblock %}

{% block content %}
<div class="quiz-mnemonic">
    <p>Get a mnemonic on : <strong>{{ word }}</strong></p>
</div>

<div class="quiz-mnemonic">
    {{ answer }}
</div>
{% endblock %}

{% block navigation %}
<div class="navigation">
    <a href="/quiz/{{request.path_params['session_id']}}/question" class="btn btn-primary">Next Question</a>
    <a href="/quiz/{{request.path_params['session_id']}}/summary" class="btn btn-secondary">End Quiz</a>
</div>
{% endblock %}