{% extends "base.html" %}

{% block title %}Global Quiz{% endblock %}

{% block header %}Global Quiz{% endblock %}

{% block content %}
<div class="quiz-container">
    <div class="progress-bar">
        <span class="progress-text">Question {{ question_id }}/{{ nb_questions }}</span>
    </div>
    <div class="quiz-options">
        <a href="/nyi/" class="quiz-option">Skip</a>
        <a href="/nyi/" class="quiz-option">Info</a>
        <a href="/quiz/{{request.path_params['session_id']}}/summary" class="quiz-option">End</a>
    </div>
    <div class="question-section">
        <div class="question-label">Translate:</div>
        <div class="word-to-translate">{{ word_to_translate }}</div>
    </div>

    <div class="answer-section">
        <div class="answer-label">Your answer:</div>
        {% if primary_to_secondary %}
        {% include "keyboard_mobile.html" if is_mobile_device else "keyboard_desktop.html" %}
        {% else %}
        <form method="POST"
            action="{{ url_for('quiz_answer', session_id=request.path_params.get('session_id', None)) }}"
            id="answer-form">
            <input type="text" name="answer" class="text-input" autocomplete="off">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}