{% extends "base.html" %}

{% block title %}Global Quiz{% endblock %}

{% block header %}Global Quiz{% endblock %}

{% block content %}
<p>Question {{ question_id }}/{{ nb_questions }}</p>

<p>Translate:</p>
<p class="word-to-translate"> {{ word_to_translate }} </p>


<p>Your answer:</p>

{% include "keyboard_mobile.html" if is_mobile_device else "keyboard_desktop.html" %}

<p>Options:</p>
<ol class="quiz-options">
    <li><a href="/nyi/">Skip word</a></li>
    <li><a href="/nyi/">Show group info</a></li>
    <li><a href="{{ url_for('read_root') }}">End quiz</a></li>
</ol>

{% endblock %}